<footer>
    <div class="footer-container">
        <div class="footer-list">
            <ol class="footer-list-items">
                <p class="footer-title">Guía de compra</p>
                <li>Preguntas frecuentes</li>
                <li>Devoluciones</li>
                <li>Modificaciones de datos y pedidos</li>
            </ol>
        </div>
        <div class="footer-list">
            <ol class="footer-list-items">
                <p class="footer-title">Servicios</p>
                <li>Affinity Card</li>
                <li>Tarjeta regalo</li>
                <li>* Exclusivo en tiendas físicas</li>
            </ol>
        </div>
        <div class="footer-list">
            <ol class="footer-list-items">
                <p class="footer-title">Empresas</p>
                <li>Quiénes somos</li>
                <li>Tiendas</li>
                <li>Localizador de tiendas</li>
                <li>Trabaja con nosotros</li>
            </ol>
        </div>
        <div class="footer-list">
            <ol class="footer-list-items">
                <p class="footer-title">Políticas</p>
                <li>Política de privacidad</li>
                <li>Condiciones de compra</li>
                <li>Política de cookies</li>
            </ol>
        </div>
        <div class="footer-list">
            <ol class="footer-list-items">
                <p class="footer-title">Social</p>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ol>
        </div>
        <div class="footer-list">
            <ol class="footer-list-items">
                <p class="footer-title">Métodos de pago</p>
                <li>VISA</li>
                <li>Paypal</li>
                <li>Discounts</li>
            </ol>
        </div>
    </div>
    <div class="footer-end">
        <div class="footer-end-items spain">España | ES</div>
        <div class="footer-end-items">iOS app</div>
        <div class="footer-end-items">Android app</div>
        <div class="footer-end-items moda">Más moda</div>
    </div>
</footer>
<div>
    <ul class="social">
        <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/?lang=es" target="_blank">Twitter</a></li>
        <li><a href="https://es-es.facebook.com/" target="_blank">Facebook</a></li>
    </ul>
</div>